{% extends 'layout.html' %}

{% block content %}
    <h2>Add Item</h2>
    <div class="main-div">
     <form method='post' action="{% url 'add_item'  %}">
        <p>
        <label for="name">Item</label><input name='name' type="text">
        </p>
        <p>
        <label for="description">Description</label><input name='description' type="text">
        </p>
        <p>
        <label for="date">Date</label><input name='date' type="date">
        </p>
        <p>
        <label for="price">Price</label><input name='price' type="number">
        </p>
        <p>
        <label for="image">Image link</label><input name="image" type="url">
        </p>
        <button type="submit">Add</button>
     </form>
    </div>
{% endblock %}