{% extends 'layout.html' %}

{% block content %}
<h2>View Listings</h2>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<div class="main-div">
    <h3>Current skills</h3>
    {% if skills %}
        {% for skill in skills %}
            <div class="skill-div">
            <a href="{% url 'get_skill' skill.id %}">
            {{ skill.name }}
            </a>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="main-div">
    <h3>Current Items</h3>
    {% if items %}
        {% for item in items %}
        <div class="item-div">
        <a href="{% url 'get_item' item.id %}">
        {{ item.name }}
        </a>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}