{% extends 'layout.html' %}

{% block content %}
    <h2>Item</h2>
     {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <div id="main">
        {% if item %}
        <p>{{ item.name }}</p>
        <p> {{ item.description }}</p>
        <p id="current-bid">{{ item.amount }}</p>
        <p>{{ item.created_at }}</p>
        <p>{{ item.user }}</p>
        <img src={{ item.image_url }} alt={{ item.name }}>
        {% if user.is_authenticated %}
        <form method='post' action="{% url 'make_offer' item.id %}">
        <label for="bid-amount"></label>
        {%  if request.user != item.user  %}
        <input name="bid-amount" type='number' placeholder="{{ item.amount }}"></input>
        <button type="submit">Make Offer</button>
        </form>
        {% endif %}
        {%  if request.user == item.user  %}
        <button>Delete Item</button>
        {% endif %}
        {% endif %}
    </div>
{% endif %}
{% endblock  %}