{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoBay</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div class="title-div">
      <a href="{% url 'home' %}" class="nav-brand">EcoBay🌕</a>
    </div>
    <div class="bottom-navbar">
      <div class="nav-container">
        <ul class="nav-links">
      {% if not user.is_authenticated %}
      <li><a href="{% url 'register' %}">Register</a></li>
      <li><a href="{% url 'login_view' %}">Sign In</a></li>
      {% endif %}
      <li><a href="{% url 'list_skills' %}">Skills</a></li>
      <li><a href="{% url 'list_items' %}">Items</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Sign Out</a></li>
        <li><a href="#">Make Request</a></li>
      {% endif %}
    </ul>
        <div class="search-container">
          <input type="text" placeholder="Search..." id="search"/>
          <button>🔍</button>
        </div>
      </div>
    </div>
    <main>
  {% block content %}
  {% endblock %}
    </main>
  </body>
</html>
