{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
    <div>
        <form method="post">
            <label id="username" for="username">Username</label>
            <input id="username" required>
            <label id="email" for="email">Email</label>
            <input id="email" required>
            <label id="password" for="password">Password</label>
            <input id="password" required>
            <label id="confirm_password" for="confirm_password">Confirm Password</label>
            <input id="confirm_password" required>
           <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}