{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
    <div>
        <form>
            <label id="username" for="username">Username</label>
            <input id="username">
            <label id="email" for="email">Email</label>
            <input id="email">
            <label id="password" for="password">Password</label>
            <input id="password">
            <label id="confirm_password" for="confirm_password">Confirm Password</label>
            <input id="confirm_password">
           <button>Submit</button>
        </form>
    </div>
{% endblock %}