{% extends 'layout.html' %}

{% block content %}
    <h2>Skill</h2>
    <div>
        <form method="post">
            <p>
            <label for="name">Skill</label><input name="name">
            </p>
            <p>
            <label for="description">Description</label><input name="description">
            </p>
            <p>
            <label for="date">Date</label><input name="date">
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}