{% extends 'layout.html' %}

{% block content %}
    <h2>Skill</h2>
     {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <div id="main">
        {% if skill %}
        <p>{{ skill.name }}</p>
        <p> {{ skill.description }}</p>
        <p id="current-bid">{{ skill.amount }}</p>
        <p>{{ skill.is_created }}</p>
        <p>{{ skill.user }}</p>
        {% if user.is_authenticated %}
        <form method='post' action="{% url 'make_offer' skill.id %}">
        <label for="bid-amount"></label>
        <input name="bid-amount" type='number' placeholder="{{ skill.amount }}"></input>
        <button type="submit">Make Offer</button>
        </form>
        {% endif %}
        <button>Delete Skill</button>
    </div>
{% endif %}
{% endblock  %}