{% extends 'layout.html' %}

{% block content %}
    <h2>Skill Request</h2>
     {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <div class="main-div">
     <form method="post" action="{% url 'request_skill'  %}" >
        <label for="name">Skill</label><input name="name">
        <label for="description">Description</label><input name="description">
        <label for="amount">Amount</label><input name="amount">
        <p>
        <label for="category">Category</label>
        <select name="category" type="text">
        <option value="">Select Category</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
        </select>
        </p>
        <button type="submit">Submit Request</button>
     </form>
    </div>
{% endblock %}